.ant-tabs-nav .ant-tabs-tab-active {
  color: #435EBE;
}
.ant-tabs-ink-bar {
  background-color: #435EBE;
}
.ant-btn {
  border-radius: 10px;
}
.danger-from-button {
  background: #FF6D6B;
}
.clear-from-button {
  color: #FF6864;
  border: 1px solid #FF6864;
}
.danger-from-button1 {
  background: #435EBE;
}
.clear-from-button1 {
  color: #435EBE;
  border: 1px solid #435EBE;
}
.fromMargin {
  margin: 16px 0;
}
.marginleft {
  margin-left: 10px;
}
.tabs {
  margin-top: 20px;
  background: #FFFFFF;
  box-shadow: 0px 0px 14px 0px rgba(218, 223, 255, 0.88);
  border-radius: 14px;
  padding: 10px 24px;
  box-sizing: border-box;
}
.ant-table-thead > tr > th,
.primarybtn {
  color: white;
  background: #435EBE !important;
}
.ant-table-tbody > tr:nth-child(2n) {
  background: rgba(218, 223, 255, 0.5) !important;
}
.action {
  font-size: 16px;
  font-weight: 500;
  color: #435EBE;
  line-height: 25px;
}
.primColor {
  color: #435EBE;
}
.redColor {
  color: #FD4944;
}
.yellowColor {
  color: #FF9919;
}
.grayColor {
  color: #999999;
}
.fontSize26 {
  font-size: 26px;
}
.searchForm {
  padding: 20px !important;
  background: #FFFFFF;
  box-shadow: 0px 0px 14px 0px rgba(218, 223, 255, 0.88);
  border-radius: 14px;
}
.fromItem {
  width: 160px;
}
.fromItem1 {
  float: right;
  width: 180px;
  text-align: right;
}
.cardBox {
  box-shadow: 0px 0px 14px 0px rgba(218, 223, 255, 0.88);
  border-radius: 14px;
  margin-bottom: 20px;
}
.titlebox > span {
  color: #435EBE;
  margin-right: 20px;
}
.flexSpace {
  display: flex;
  justify-content: space-between;
}
.marginTB {
  margin: 20px 0;
}
.marginB {
  margin-bottom: 42px;
}
.contentText {
  font-size: 16px;
  font-weight: 400;
  color: #242424;
  line-height: 30px;
}
.iconbg {
  background: #10B8E5;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  text-align: center;
  line-height: 16px;
  display: inline-block;
}
