@primary-color: #435EBE; // 全局主色
@link-color: #435EBE; // 链接色
@success-color: #52c41a; // 成功色
@warning-color: #faad14; // 警告色
@error-color: #f5222d; // 错误色
@font-size-base: 14px; // 主字号
@heading-color: rgba(0, 0, 0, 0.85); // 标题色
@text-color: rgba(0, 0, 0, 0.65); // 主文本色
@text-color-secondary: rgba(0, 0, 0, 0.45); // 次文本色
@disabled-color: rgba(0, 0, 0, 0.25); // 失效色
@border-radius-base: 4px; // 组件/浮层圆角
@border-color-base: #d9d9d9; // 边框色
@box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // 浮层阴影
.ant-tabs-nav .ant-tabs-tab-active{
  color: #435EBE;
}
.ant-tabs-ink-bar{
  background-color: #435EBE;
}
.ant-btn{
  border-radius: 10px;
}
.danger-from-button{
  background: #FF6D6B;
}
.clear-from-button{
  color: #FF6864;
  border: 1px solid #FF6864;
}
.danger-from-button1{
	background: #435EBE;
}
.clear-from-button1{
	color: #435EBE;
	border: 1px solid #435EBE;
}
.fromMargin{
	margin: 16px 0;
}
.marginleft{
  margin-left: 10px;
}
.tabs{
	margin-top: 20px;
	background: #FFFFFF;
	box-shadow: 0px 0px 14px 0px rgba(218, 223, 255, 0.88);
	border-radius: 14px;
	padding:10px 24px;
	box-sizing: border-box;
}
//修改表头文字、背景颜色  
.ant-table-thead > tr >th,.primarybtn{
	color: white;
	background: #435EBE !important;
}
.ant-table-tbody> tr:nth-child(2n) {
	background: rgba(218, 223, 255, 0.5) !important;
}
.action{
	font-size: 16px;
	font-weight: 500;
	color: #435EBE;
	line-height: 25px;
}
.primColor{
	color: #435EBE;
}
.redColor{
	color: #FD4944;
}
.yellowColor{
	color:#FF9919
}
.grayColor{
	color:#999999
}
.searchForm{
	padding: 20px !important;
	background: #FFFFFF;
	box-shadow: 0px 0px 14px 0px rgba(218, 223, 255, 0.88);
	border-radius: 14px;
}
.fromItem{
	width:160px
}
.fromItem1{
	float: right;
	width:180px;
	text-align: right;
}
.cardBox{
	box-shadow: 0px 0px 14px 0px rgba(218, 223, 255, 0.88);
	border-radius: 14px;
	margin-bottom: 20px;
}
.titlebox > span{
	color: #435EBE;
	margin-right: 20px;
}
.flexSpace{
	display: flex;
	justify-content: space-between;
}
.marginTB{
	margin: 20px 0;
}